body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "db_heavent", sans-serif;
    line-height: 1.5;
    color: black;
}
header {
    width: 100%;
    background-color: white;
}

/**** All ****/
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
strong {
    font-weight: bold;
    padding: 0 0.125rem;
}
small {
    font-size: 1rem;
}
.colorBlack {
    color: black;
}
.colorWhite {
    color: white;
}
.colorPrimary {
    color: #5dc9c9;
}
.colorGray {
    color: #7e9090;
}
.fontSize125rem {
    font-size: 1.25rem;
}
.fontSize15rem {
    font-size: 1.5rem;
}
.fontSize2rem {
    font-size: 2rem;
}
.fontSize3rem {
    font-size: 3rem;
}
.line__1height {
    line-height: 1;
}
.clearfix {
    content: "";
    clear: both;
    overflow: hidden;
}
.ulNoDist {
    list-style: none;
}
.displayInline {
    display: inline-block;
}

/**** Navbar ****/
.navbarLogo {
    height: 100px;
}
.logo {
    margin: 0px 10px;
    height: 100px;
    width: auto;
}
.icoNavbar {
    width: 32px;
    height: 32px;
}
.navbarInfo {
    margin: 0;
    padding: 20px;
    height: 100px;
}
.icoNavbarMini {
    width: 16px;
    height: 16px;
}
.slanguage.dropdown-menu {
    padding-left: 25px;
    min-width: 8rem;
}
.slanguage li {
    margin: 8px 0;
}
.navbarInfo__li {
    vertical-align: middle;
}
.navbarPhone {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.navbarPhone label {
    margin: 0;
}
.navbarPhoneLabel a:hover {
    color: #5dc9c9;
}
.navbarTxt {
    font-size: 0.95rem;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav-item {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 20px;
}
.nav-item.active,
.nav-item:hover {
    color: black;
}
.boxSearch {
    width: 18rem !important;
    font-size: 1.125rem;
}

/* Content */
#wrapper {
    margin-top: 150px;
    overflow: hidden;
    background-color: white;
}

/* Home */
.section__info {
    margin: -80px;
}
.section__info__txt {
    background-color: #5dc9c9;
}
.icoInfo {
    width: 100px;
    height: 100px;
}
.section_info_1 {
    background-color: #5dc9c9;
}
.section_info_2 {
    background-color: #6cd3d2;
}
.home__info {
    padding: 50px 15px;
}
.section__doctor,
.section__article {
    margin-top: 120px;
}
.section__doctor__hr {
    width: 14%;
    height: 3px;
    background-color: #5dc9c9;
}
video {
    width: 100%;
    max-height: 100%;
}

/**** Footer ****/
footer {
    margin-top: 100px;
}
.footer__middle {
    padding: 50px 0;
    background-color: #5dc9c9;
}
.footer__middle a:hover {
    color: white;
}
.footer__middle_title {
    margin-bottom: 14px;
}
.footet__list__item {
    font-size: 1.125rem;
}
.footer_ico {
    width: 35px;
    height: 35px;
}
.footer__company__name {
    margin-top: 1rem;
    font-size: 1.5rem;
}

/**** Responsive ****/
/* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
    .footer__middle_title,
    .footet__list__item {
        text-align: center;
    }
    .footer__copyright {
        font-size: 0.825rem;
    }

    /* Home */
    .section__info {
        margin: 25px;
    }
    .section__doctor,
    .section__article {
        margin-top: 50px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
