body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "db_heavent", sans-serif;
    line-height: 1.5;
    background-color: white;
    color: black;
}
header {
    width: 100%;
}

/**** All ****/
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
strong {
    font-weight: bold;
    padding: 0 0.125rem;
}
small {
    font-size: 1rem;
}
.color__black {
    color: black;
}
.color__white {
    color: white;
}
.color__primary {
    color: #5dc9c9;
}
.color__gray {
    color: #7e9090;
}
.line__1height {
    line-height: 1;
}

/**** Header Nav bar ****/
.logo {
    margin: 5px;
    height: 80px;
    width: auto;
}
.header_ico_navbar {
    width: 32px;
    height: 32px;
}
.navbar__phone {
    margin-top: 50px;
}
.navbar__phone__number {
    font-size: 2.125rem;
    color: #5dc9c9;
}

/*.header {
    z-index: 8;
    margin-bottom: 120px;
}*/
.nav__contact__detail_phone {
    padding-top: 10px;
}
.nav__contact__detail_phone__num {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.header--contact-detail li {
    vertical-align: middle;
    font-weight: bold;
}
.slanguage-show-desktop.th {
    font-size: 0.85rem;
    font-family: "Gotham";
}
.slanguage-show-desktop.en {
    font-size: 1.25rem;
    font-family: "Gotham";
}
.slanguage-show-desktop.cam {
    font-size: 1.25rem;
    font-family: "Gotham";
}

.header--contact-detail-lang label {
    font-size: 0.8rem;
    padding: 25px 2px;
}
.header--contact-detail-lang label a {
    color: #000000;
    font-size: 1.25rem;
}
.header--contact-detail-lang label a.active {
    color: #ff6c0e;
}

.sLangOnMobile {
    font-size: 1rem;
    margin: 0 8px;
}
.sLangOnMobile a {
    color: #fff;
}
.sLangOnMobile a.active {
    color: #ff6c0e;
}

.slanguage.dropdown-menu {
    padding-left: 12px;
    min-width: 9rem;
}
.slanguage li {
    margin: 8px 0;
}
.slanguage-show-mobile.th {
    color: #fff;
    font-family: "Gotham";
    font-size: 0.85rem;
}
.slanguage-show-mobile.en {
    color: #fff;
    font-family: "Gotham";
    font-size: 1.125rem;
}
.slanguage-show-mobile.cam {
    color: #fff;
    font-family: "Gotham";
    font-size: 1.125rem;
}

/* NAVBAR ****/
.ico_logo {
    width: 285px;
    height: 80px;
}
.navbar-nav {
    font-size: 1.325rem;
    font-weight: bold;
}
.nav-item.active,
.nav-item:hover {
    background-color: #ff6c0e;
    color: #fff;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

/* MENU */
.navbar-toggle .icon-bar {
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(-135deg);
    margin: 6px 0 -12px 0;
}
.navbar-toggle .middle-bar {
    opacity: 0;
    width: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(135deg);
    margin-bottom: 6px;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    margin: 0;
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
    width: 100%;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    margin-bottom: 0;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 0.8em;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
    color: #ffffff;
}
#navbarTogglerMainMenu {
    font-size: 1rem;
}
.boxSearch {
    width: 18rem !important;
    font-size: 1rem;
}
.txt-phonnumber-mobile {
    color: #ffffff;
    font-size: 1rem;
}

/* Content */
#wrapper {
    margin-top: 150px;
    background-color: #008080;
    min-height: 100vh;
}

/* Hero Banner on Detail Pages */

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:nth-child(even) {
    background-color: #99f;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: "";
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/**** Footer ****/
footer {
    margin-top: 100px;
}
.footer__middle {
    padding: 50px 0;
    background-color: #5dc9c9;
}
.footer__middle a:hover {
    color: white;
}
.footer__middle_title {
    margin-bottom: 14px;
}
.footet__list__item {
    font-size: 1.125rem;
}
.footer_ico {
    width: 35px;
    height: 35px;
}
.footer__company__name {
    margin-top: 1rem;
    font-size: 1.5rem;
}

/**** Responsive ****/
/* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
    .footer__copyright {
        font-size: 0.825rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    label span {
        font-size: 50pt;
    }
    .nav_slide .prev,
    .nav_slide .next {
        width: 15%;
    }
    #nav_slide .dots {
        width: 12px;
        height: 12px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
