body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    /* The image used */
    background-image: url("joy-of-mind-bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .bg {
        background-image: url("joy-of-mind-bg-mobile.jpg");
    }
}
